<!---------------------- START HEADER ---------------------->

<header class="usa-header usa-header--basic">
	<div class="nav-container">
		<div class="navbar">
			<div class="logo" id="-logo">
				<img src="{{ '/img/metro_logo_white.svg' | url }}" role="img"
						alt="Metro logo" />
			</div>
		</div>

		{% if pageContent.page.show_translate_button == "TRUE" %}
			<div class="usa-language-container usa-language--small">
				<ul class="usa-language__primary usa-accordion">
					<li class="usa-language__primary-item">
						<button class="usa-button usa-language__link" role="button" aria-expanded="false"
							aria-controls="language-options">
							{{ pageContent.page.translate }}
						</button>
						
						<ul id="language-options" class="usa-language__submenu" hidden="true">
							{% assign links = page.url | locale_links %}
							{% for lang in langs.langList %}
								{% for link in links %}
									{% if link.lang == lang %}
									<li class="usa-language__submenu-item">
									<a href="{{ link.url | url }}" class="lang-selector lang-{{ lang }}"><span>{{ langs[lang].label }}</span></a>
									</li>
									{% endif %}
								{% endfor %}
								
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
</header>
<!---------------------- END HEADER ---------------------->