---
layout: default

css: 
- '/css/site.css'
- '/css/index.css'
- '/css/common.css'
- '/css/activecampaign.css'

js-head:
- '/js/site.js'

mode: 'one-page'
message: 'The theme of our latest Metro bus and rail service update is reliability, reliability, reliability. 65 weekday, 43 Saturday, 42 Sunday bus schedules have been updated to improve reliability. B/D subway schedules will also be updated.'

title: "Service Updates"
subtitle: "Coming June 25, 2023"
---

{% case page.lang %}
	{% when 'en' %}
		{% assign pageContent = en-content %}
	{% when 'es' %}
		{% assign pageContent = es-content %}
	{% when 'hy' %}
		{% assign pageContent = hy-content %}
	{% when 'ja' %}
		{% assign pageContent = ja-content %}
	{% when 'ko' %}
		{% assign pageContent = ko-content %}
	{% when 'ru' %}
		{% assign pageContent = ru-content %}
	{% when 'vi' %}
		{% assign pageContent = vi-content %}
	{% when 'zh-tw' %}
		{% assign pageContent = zh-tw-content %}
	{% else %}
		{% assign pageContent = en-content %}
{% endcase %}

<div class="usa-section section-select flex-1 display-flex flex-row flex-align-center padding-y-0">
	<div class="div-container">
		<div class="grid-row grid-gap">
			<div class="desktop:grid-col-5">
				<div class="select-content padding-2 desktop:padding-5">
					<h1 class="margin-y-0 font-sans-2xl desktop:font-sans-3xl line-height-sans-1">
						{{ pageContent.page.pageTitle }}<br>
						<span class="subtitle font-sans-lg desktop:font-sans-xl">{{ pageContent.page.pageSubtitle }}</span>
					</h1>

					{%- comment -%} {% case mode %}
						{% when 'one-page' %}
							{% include 'index/one-page' %}
						{% when 'all' %}
							{% include 'index/all-changes' %}
						{% when 'select' %}
							{% include 'index/select-line' %}
						{% else %}
							{% include 'index/email-signup' %}
					{% endcase %} {%- endcomment -%}

					<p>
						{{ pageContent.page.introP1 }}
					  </p>
					  <p>
						{{ pageContent.page.introP2 }}
					  </p>
					  <form class="usa-form" id="downloadTakeone">
						<label class="usa-label" for="optionsTakeone" ></label>
						<select class="usa-select" name="options" id="optionsTakeone">
						  <option value>- Select Language -</option>
						  {% for lang in langs.langList %}
							<option value="{{ langs[lang].takeone | url }}">{{ langs[lang].label }}</option>
						  {% endfor %}
						</select>
						<button type="submit" class="usa-button">{{ pageContent.page.download }}</button>
					  </form>

				</div>
			</div>
			<div class="desktop:grid-col-7 main-image">
				<img src="{{ '/img/articulated-buses.jpg' | url }}" alt="a photo of Metro buses">
			</div>
		</div>
		{% case mode %}
			{% when 'one-page' %}
			<div class="grid-row grid-gap" id="chiclet-links">
				<div class="grid-col">
					<div class="padding-x-2 desktop:padding-x-5">
						<h2 style="margin-top-0">{{ pageContent.page.lineListTitle }}</h2>

						<div class="grid-row flex-row flex-wrap flex-gap">
							{% for line in lines %}
								<div class="chiclet-container">
									<div class="chiclet-outer">
										{% case line.line %}
											{% when 802 %}
												<a class="chiclet-inner a-line" href="#{{ 'line-' | append: line.line }}">
											{% when 807 %}
												<a class="chiclet-inner k-line" href="#{{ 'line-' | append: line.line }}">
											{% when 854 %}
												<a class="chiclet-inner l-line" href="#{{ 'line-' | append: line.line }}">
											{% when 857 %}
												<a class="chiclet-inner k-line" href="#{{ 'line-' | append: line.line }}">
											{% when 910, 950 %}
												<a class="chiclet-inner bus-j-line" href="#{{ 'line-' | append: line.line }}">
											{% when 901 %}
												<a class="chiclet-inner bus-g-line" href="#{{ 'line-' | append: line.line }}">
											{% else %}
												<a class="chiclet-inner bus-standard" href="#{{ 'line-' | append: line.line }}">
										{% endcase %}
											{{ line.line_label }}
										</a>
										
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			{% for line in lines %}
				<div class="grid-row flex-row flex-gap" id="{{ 'line-' | append: line.line }}">
					{%- comment -%} This section shows the update descriptions for mobile views ONLY {%- endcomment -%}
					<div class="margin-x-2 margin-top-5 grid-col line-change-info desktop:display-none">
						<div class="grid-row padding-3 flex-column">
							<div class="chiclet-container flex-auto">
								<div class="chiclet-outer">
									{% case line.line %}
										{% when 802 %}
											<span class="chiclet-inner a-line">
										{% when 807 %}
											<span class="chiclet-inner k-line">
										{% when 854 %}
											<span class="chiclet-inner l-line">
										{% when 857 %}
											<span class="chiclet-inner k-line">
										{% when 910, 950 %}
											<span class="chiclet-inner bus-j-line">
										{% when 901 %}
											<span class="chiclet-inner bus-g-line">
										{% else %}
											<span class="chiclet-inner bus-standard">
									{% endcase %}
									{{ line.line_label }}
									</span>
								</div>
							</div>
							<div class="grid-col change-description">
								<h2 class="line-description margin-top-2 margin-bottom-0">{{ line.description }}</h2>
								{% if line.schedule != null %}
								<span class="schedule-link">
									<a href="{{ '/files/schedules/' | append: line.schedule | url }}" target="_blank">{{ pageContent.page.schedule }} 
										<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
											<use xlink:href="{{ '/assets/uswds/img/sprite.svg#file_download' | url }}"></use>
										</svg>
									</a>
								</span>
								{% endif %}
								
								{% assign updateList = pageContent.updates[line.line] %}
								{% if updateList != null %}
									{% for updateItem in updateList %}
										<div class="line-update">
											<strong>{{ pageContent.page.update }}</strong> {{ updateItem.update }}<br>
											<strong>{{ pageContent.page.reason }}</strong> {{ updateItem.reason }}
											
											{% if updateItem.map != '' %}
												<div class="map-accordion__heading">
													<button type="button" class="map-accordion__button" aria-expanded="false" aria-controls="{{ 'map-' | append: line.line }}">
														{{ pageContent.page.map }} 
														<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
														<use xlink:href="{{ '/assets/uswds/img/sprite.svg#expand_more' | url }}"></use>
														</svg>
													</a>
												</div>
												<div id="{{ 'map-' | append: line.line }}" class="map-accordion__content">
													<img src="{{ '/img/' | append: updateItem.map | url }}" alt="a graphic map showing a visual representation of the described changes to Line {{ line.line }}">
												</div>
											{% endif %}
										</div>
									{% endfor %}
								{% endif %}
								<div style="text-align: right;">
									<a href="#chiclet-links">Back to top</a>
								</div>
							</div>
						</div>
					</div>

					{%- comment -%} This section shows the update descriptions for desktop views ONLY {%- endcomment -%}
					<div class="margin-x-2 margin-top-5 grid-col line-change-info display-none desktop:display-block">
						<div class="grid-row padding-3 flex-row">
							<div class="chiclet-container flex-auto">
								<div class="chiclet-outer">
									{% case line.line %}
										{% when 802 %}
											<span class="chiclet-inner a-line">
										{% when 807 %}
											<span class="chiclet-inner k-line">
										{% when 854 %}
											<span class="chiclet-inner l-line">
										{% when 857 %}
											<span class="chiclet-inner k-line">
										{% when 910, 950 %}
											<span class="chiclet-inner bus-j-line">
										{% when 901 %}
											<span class="chiclet-inner bus-g-line">
										{% else %}
											<span class="chiclet-inner bus-standard">
									{% endcase %}
									{{ line.line_label }}
									</span>
								</div>
							</div>
							<div class="grid-col change-description margin-left-2">
								<h2 class="line-description margin-y-0">{{ line.description }}</h2>
								{% if line.schedule != null %}
								<span class="schedule-link">
									<a href="{{ '/files/schedules/' | append: line.schedule | url }}" target="_blank">{{ pageContent.page.schedule }} 
										<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
											<use xlink:href="{{ '/assets/uswds/img/sprite.svg#file_download' | url }}"></use>
										</svg>
									</a>
								</span>
								{% endif %}
								
								{% assign updateList = pageContent.updates[line.line] %}
								{% if updateList != null %}
									{% for updateItem in updateList %}
										<div class="line-update">
											<strong>{{ pageContent.page.update }}</strong> {{ updateItem.update }}<br>
											<strong>{{ pageContent.page.reason }}</strong> {{ updateItem.reason }}
											
											{% if updateItem.map != '' %}
												<div class="map-accordion__heading">
													<button type="button" class="map-accordion__button" aria-expanded="false" aria-controls="{{ 'map-' | append: line.line }}">
														{{ pageContent.page.map }} 
														<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
														<use xlink:href="{{ '/assets/uswds/img/sprite.svg#expand_more' | url }}"></use>
														</svg>
													</a>
												</div>
												<div id="{{ 'map-' | append: line.line }}" class="map-accordion__content">
													<img src="{{ '/img/' | append: updateItem.map | url }}" alt="a graphic map showing a visual representation of the described changes to Line {{ line.line }}">
												</div>
											{% endif %}
										</div>
									{% endfor %}
								{% endif %}
								<div style="text-align: right;">
									<a href="#chiclet-links">Back to top</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		{% endcase %}
	</div>
</div>
