---
layout: default

css: 
- '/css/site.css'
- '/css/index.css'
- '/css/common.css'
- '/css/activecampaign.css'

js-head:
- '/js/site.js'

mode: 'one-page'
message: 'The theme of our latest Metro bus and rail service update is reliability, reliability, reliability. 65 weekday, 43 Saturday, 42 Sunday bus schedules have been updated to improve reliability. B/D subway schedules will also be updated.'

title: "Service Updates"
subtitle: "Coming June 25, 2023"
---

{% case page.lang %}
{% when 'en' %}
	{% assign content = en-content %}
{% when 'es' %}
	{% assign content = es-content %}
{% when 'hy' %}
	{% assign content = hy-content %}
{% when 'ja' %}
	{% assign content = ja-content %}
{% when 'ko' %}
	{% assign content = ko-content %}
{% when 'ru' %}
	{% assign content = ru-content %}
{% when 'vi' %}
	{% assign content = vi-content %}
{% when 'zh-tw' %}
	{% assign content = zh-tw-content %}
{% else %}
	{% assign content = en-content %}
{% endcase %}

<div class="usa-section section-select flex-1 display-flex flex-row flex-align-center padding-y-0">
	<div class="div-container">
		<div class="grid-row grid-gap">
			<div class="desktop:grid-col-5">
				<div class="select-content padding-5">
					<h1>
						{{ content.page.pageTitle }}<br>
						<span class="subtitle">{{ content.page.pageSubtitle }}</span>
					</h1>

					{%- comment -%} {% case mode %}
						{% when 'one-page' %}
							{% include 'index/one-page' %}
						{% when 'all' %}
							{% include 'index/all-changes' %}
						{% when 'select' %}
							{% include 'index/select-line' %}
						{% else %}
							{% include 'index/email-signup' %}
					{% endcase %} {%- endcomment -%}

					<p>
						{{ content.page.introP1 }}
					  </p>
					  <p>
						{{ content.page.introP2 }}
					  </p>
					  <form class="usa-form" id="downloadTakeone">
						<label class="usa-label" for="optionsTakeone" ></label>
						<select class="usa-select" name="options" id="optionsTakeone">
						  <option value>- Select -</option>
						  {% for lang in langs.langList %}
							<option value="{{ langs[lang].takeone | url }}">{{ langs[lang].label }}</option>
						  {% endfor %}
						</select>
						<button type="submit" class="usa-button">{{ content.page.download }}</button>
					  </form>

				</div>
			</div>
			<div class="desktop:grid-col-7 main-image">
				<img src="{{ '/img/articulated-buses-desktop.png' | url }}" alt="a photo of Metro buses">
			</div>
		</div>
		{% case mode %}
			{% when 'one-page' %}
			<div class="grid-row grid-gap">
				<div class="grid-col">
					<div class="padding-5">
						<h2>{{ content.page.lineListTitle }}</h2>

						<div class="grid-row flex-row flex-wrap flex-gap">
							{% for line in lines %}
								<div class="chiclet-container">
									<div class="chiclet-outer">
										{% case line.line %}
											{% when 854 %}
												<a class="chiclet-inner bus-l-line" href="#{{ 'line-' | append: line.line }}">
											{% when 910, 950 %}
												<a class="chiclet-inner bus-j-line" href="#{{ 'line-' | append: line.line }}">
											{% when 901 %}
												<a class="chiclet-inner bus-g-line" href="#{{ 'line-' | append: line.line }}">
											{% else %}
												<a class="chiclet-inner bus-standard" href="#{{ 'line-' | append: line.line }}">
										{% endcase %}
											{{ line.line_label }}
										</a>
										
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			{% for line in lines %}
				<div class="grid-row flex-row flex-gap" id="{{ 'line-' | append: line.line }}">
					<div class="margin-left-5 margin-right-5 margin-top-5 grid-col line-change-info">
						<div class="grid-row padding-3">
							<div class="chiclet-container flex-auto">
								<div class="chiclet-outer">
									{% case line.line %}
										{% when 854 %}
											<span class="chiclet-inner bus-l-line">
										{% when 910, 950 %}
											<span class="chiclet-inner bus-j-line">
										{% when 901 %}
											<span class="chiclet-inner bus-g-line">
										{% else %}
											<span class="chiclet-inner bus-standard">
									{% endcase %}
										{{ line.line_label }}
											</span>
								</div>
							</div>
							<div class="grid-col change-description">
								<h2 class="line-description">{{ line.description }}</h2>
								{% if line.schedule != null %}
								<span class="schedule-link">
									<a href="{{ '/files/schedules/' | append: line.schedule | url }}" target="_blank">{{ content.page.schedule }} 
										<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
											<use xlink:href="{{ '/assets/uswds/img/sprite.svg#file_download' | url }}"></use>
										</svg>
									</a>
								</span>
								{% endif %}
								
								{% assign updateList = content.updates[line.line] %}
								{% if updateList != null %}
									{% for updateItem in updateList %}
										<div class="line-update">
											<strong>{{ content.page.update }}</strong> {{ updateItem.update }}<br>
											<strong>{{ content.page.reason }}</strong> {{ updateItem.reason }}
											
											{% if updateItem.map != '' %}
												<div class="map-accordion__heading">
													<button type="button" class="map-accordion__button" aria-expanded="false" aria-controls="{{ 'map-' | append: line.line }}">
														{{ content.page.map }} 
														<svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
														<use xlink:href="{{ '/assets/uswds/img/sprite.svg#expand_more' | url }}"></use>
														</svg>
													</a>
												</div>
												<div id="{{ 'map-' | append: line.line }}" class="map-accordion__content">
													<img src="{{ '/img/' | append: updateItem.map | url }}" alt="a graphic map showing a visual representation of the described changes to Line {{ line.line }}">
												</div>
											{% endif %}
										</div>
									{% endfor %}
								{% endif %}
								<span>Back to top</span>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		{% endcase %}
	</div>
</div>
