---
layout: default
css:
- '/css/all-changes.css'
- '/css/common.css'
- '/css/site.css'
pagination:
  data: allChanges
  size: 1
  alias: allChanges
permalink: "all-changes/{{ allChanges.lang | slug }}/"
---

<section class="usa-section" id="all-header">
	<div class="grid-container">
		<div class="grid-row">
			<h1 class="notranslate">{{ allChanges.content.intro.header }}</h1>
		</div>
	</div>
</section>

<section class="usa-section" id="all-summary">
	<div class="grid-container">
		<div class="grid-row">
			<p class="text-bold notranslate">{{ allChanges.content.intro.details }}</p>
			<div class="padding-x-4 padding-bottom-2">
				{{ allChanges.content.takeones.description }}
                {% for i in (0..7) %}
                    {% if i == 7 %}
						<a href="{{ allChanges.content.takeones.files[i].url | url }}" class="notranslate">{{ allChanges.content.takeones.files[i].text }}</a>.
                    {% else %}
						<a href="{{ allChanges.content.takeones.files[i].url | url }}" class="notranslate">{{ allChanges.content.takeones.files[i].text }}</a>, 
                    {% endif %}
                {% endfor %}

			</div>
            <div>
                {% for item in allChanges.content.summary %}
                    <p class="text-bold notranslate">{{ item.description }}</p>
                    <div class="padding-x-4 padding-bottom-2 notranslate">
                        {{ item.details }}
                    </div>
                {% endfor %}
            </div>
		</div>
	</div>
</section>

<section class="usa-section" id="all-details">
	<div class="grid-container">
		<div class="grid-row">
			<h2>We’re modifying service on these bus lines:</h2>
			{% for item in allChanges.content.details %}
                {% if item.label != "" %}
                    <div class="padding-y-4">
                        {% if item.label contains '0' or 
                              item.label contains '1' or 
                              item.label contains '2' or
                              item.label contains '3' or
                              item.label contains '4' or
                              item.label contains '5' or
                              item.label contains '6' or
                              item.label contains '7' or
                              item.label contains '8' or
                              item.label contains '9'
                        %}
                            {% capture newLabel %}
                                Line {{ item.label }}
                            {% endcapture %}
                        {% else %}
                            {% capture newLabel %}
                                the {{ item.label }}
                            {% endcapture %}
                        {% endif %}

                        <span class="notranslate">
                            {{ item.label }} - {{ item.description }}
                        </span>

                        {% if item.description != "" %}
                            {% if item.newSchedule == "" %}
                                New schedule coming soon.
                            {% else %}
                                <a href="{{ item.newSchedule | url }}" class="scheduleLink">Download new schedule PDF for {{ newLabel }}</a>.
                            {% endif %}
                        {% else %}
                            {% if item.newSchedule != "" %}
                                Minor edits to content and/or map, no changes to the schedule.
                                <a href="{{ item.newSchedule | url }}" class="scheduleLink">Download new PDF for {{ newLabel }}</a>.
                            {% elsif item.currentSchedule != "" %}
                                No changes to the schedule. 
                                <a href="{{ item.currentSchedule | url }}" class="scheduleLink">Download current schedule PDF for {{ newLabel }}</a>.
                            {% else %}
                                No schedule available.
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
			{% endfor %}
		</div>
	</div>
</section>

<section class="usa-section" id="all-end">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div>
                <img src='{{ '/img/phone-lang-icon.png' | url }}' alt='' /> <span class="phone">323.466.3876</span>
            </div>
            <div class="notranslate line-height-sans-6">
                <p><strong>x2</strong> Español (Spanish)<br>
                <strong>x3</strong> 中文 (Chinese Traditional)<br>
                <strong>x4</strong> 한국어 (Korean)<br>
                <strong>x5</strong> Tiếng Việt (Vietnamese)<br>
                <strong>x6</strong> 日本語 (Japanese)<br>
                <strong>x7</strong> русский (Russian)<br>
                <strong>x8</strong> Армянский (Armenian)</p>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="en-path" value="{{ '/all-changes/en/' | url }}">
<input type="hidden" id="es-path" value="{{ '/all-changes/es/' | url }}">
<input type="hidden" id="hy-path" value="{{ '/all-changes/hy/' | url }}">
<input type="hidden" id="ja-path" value="{{ '/all-changes/ja/' | url }}">
<input type="hidden" id="ko-path" value="{{ '/all-changes/ko/' | url }}">
<input type="hidden" id="ru-path" value="{{ '/all-changes/ru/' | url }}">
<input type="hidden" id="vi-path" value="{{ '/all-changes/vi/' | url }}">
<input type="hidden" id="zh-tw-path" value="{{ '/all-changes/zh-tw/' | url }}">